@page "/companies"
@using BlApp.Client.Model;
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using BlApp.Shared
@attribute [Authorize]
@inject HttpClient Http

<PageTitle>Companies</PageTitle>

<h1>Companies List</h1>


@if (companies == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Phone</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var company in companies)
            {
                <tr>
                    <td>@company.Id</td>
                    <td>@company.Name</td>
                    <td>@company.PhoneNumber</td>
                    <td>@company.EmailAddress</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {

    private List<CompaniesDto> companies;

    protected override async Task OnInitializedAsync()
    {
        await LoadCompanies();
    }

    private async Task LoadCompanies()
    {
        try
        {
            companies = await Http.GetFromJsonAsync<List<CompaniesDto>>("api/companies");
        }
        catch (AccessTokenNotAvailableException exception)
        {
            exception.Redirect();
        }
    }
}
